
/* Add your profile image here */
.Photo{
    background-image: url('Single.png');
}
/* Projects Photo */
.project1{
    background-image: url("Movies.jpg");
    background-size: 400px 600px;
    cursor: none;
}
.project2{
    background-image: url("Classificatio.png");
    cursor: none;
}
.project3{
    background-image: url("NLP-Project-Ideas.png");
    background-size: 300px 400px;
    cursor: none;
}
.project4{
    background-image: url("STatic.png");
    cursor: none;
}
.project5{
    background-image: url('STatic.png');
    cursor: none;
}
.project6{
    background-image: url("Car.jpg");
    cursor: none;
}

.project7{
    background-image: url("Rain.jpg");
    cursor: none;
}

.project8{
    background-image: url("Cotton Diseae.png");
    background-size: 300px 400px;
    cursor: none;
}
.project9{
    background-image: url("Health Care.jpg");
    background-size: 300px 400px;
    cursor: none;
}
.project10{
    background-image: url("Project manahement.jpg");
    background-size: 300px 400px;
    cursor: none;
}
/* M
/* Miscelaneous Activities photo */
.misc1{
    background-image: url("Skills.jpg");
    cursor: none;
}
.misc2{
    background-image: url("Education.png");
    cursor: none;
}
.misc3{
    background-image: url("Experience.png");
    cursor: none;
}
