
/* Add your profile image here */
.Photo{
    background-image: url('Single.png');
}
/* Projects Photo */
.project1{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Clustering.png");
    cursor: none;
}
.project2{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Classificatio.png");
    cursor: none;
}
.project3{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/NLP-Project-Ideas.png");
    cursor: none;
}
.project4{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/public/STatic.png");
    cursor: none;
}
.project5{
    background-image: url('https://github.com/shubhamsrivastava951/shubham/blob/master/public/STatic.png');
    cursor: none;
}
.project6{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Tableau-Logo.png");
    cursor: none;
}

.project7{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Project%20manahement.jpg");
    cursor: none;
}

.project8{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Deep%20Learning.png");
    cursor: none;
}
/* M
/* Miscelaneous Activities photo */
.misc1{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Skills.jpg");
    cursor: none;
}
.misc2{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Education.png");
    cursor: none;
}
.misc3{
    background-image: url("https://github.com/shubhamsrivastava951/shubham/blob/master/src/styles/Experience.png");
    cursor: none;
}
